
h1 {
  font-family: aller, sans-serif;
  font-weight: 400;
  font-style: italic;
}

a {
  font-family: aller, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #ffffff
}

.home {
  text-align: center;
}

.home-logo {
  height: 30vmin;
  pointer-events: none;
}

.home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-link:hover {
  color: #0071BC;
}

