@import '~antd/dist/antd.css';

.layout-content {
    padding-top: 24px;
    padding-bottom: 24px;
    margin: auto;
}

.navbar {
    padding-left: 50px;
    padding-right: 50px;
}

.navbaritem {
  padding: 12px;
}